*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: blueviolet;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabeçalho-imagem{
    width: 20%;
}